# dependencies
node_modules

# next.js
.next
out
frontend/.next

# build output
dist
backend/dist

# env
.env*
!.env.example
!frontend/.env.example
!backend/.env.example

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
next-env.d.ts
frontend/next-env.d.ts
